*models/
trailer/frames/*
trailer/files/*
trailer/blendcache_takeOff/*
trailer/blendcache_stars/*
trailer/blendcache_enemy/*
trailer/video/*
trailer/trailer.mp4
trailer/trailer.osp
trailer/trailer_assets/*