#info {
  position: absolute;
  font-size: 25px;
  width: 100%;
  font-weight: 600;
  color: black;
  z-index: 100;
  display: block;
}

#score {
  margin: 10px;
  margin-left: 20px;
  text-align: left;
}

#health {
  margin: 10px;
  margin-left: 20px;
  text-align: left;
}

#time {
  margin: 10px;
  margin-left: 20px;
  text-align: left;
}
